# History and RStudio files
.Rhistory
.Rapp.history
.RData
.Rproj.user
.Rproj.user/
# emacs files
*~

# README htmls in any folder
README.html

# The devtools zip is downloaded when the package is updating itself.  If it's not deleted, there's no reason to commit it to the repository.
devtools.zip

pkg_build
local
products

#from mac
.DS_Store

# Mplus files
*.dat
*.inp
*.out
*.log
*.dgm
!inst/extdata/*.out
!inst/extdata/*.csv
!tests/testthast/*.csv
!tests/testthast/*.out
!tests/testthat/*.out
!tests/testthat/*.csv
!tests/testthat/mplus_ug
docs
